.page_registration_wrapper input[type=password], .personal_area_edit input[type=password], .reg-modal input[type=password], .fancybox-stage input[type=password] {
    height: 47px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 47px;
    background-color: #fdf6f7;
    padding: 0 20px;
    border: 0;
    font-family: 'Futura Light', Arial;
    color: #000;
    font-size: 21px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

div[data-entity="buttons-block"]>a {
    width: 139px;
    height: 47px;
    top: 65px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    background-color: #ea9da2;
    transition: .3s width ease-in-out;
}

.product_item:hover div[data-entity="buttons-block"]>a {
    -webkit-animation: radial-pulse-proditem 1.2s infinite;
    animation: radial-pulse-proditem 1.2s infinite;
    transition: .3s width ease-in-out;
}

.product_item:hover div[data-entity="buttons-block"]>a {
    width: 152px;
    height: 47px;
    background-color: #d9535e;
    bottom: -34px;
} 

@media screen and (max-width: 768px) {
    div[data-entity="buttons-block"]>a {
        top: 60px;
    }
}

@media screen and (max-width: 480px) {
    div[data-entity="buttons-block"]>a {
        top: 50px;
    }
}

.personal_area_edit .without_icon_input input, .reg-modal input[type=password], .registration input[type=password], .fancybox-stage input[type=password] {
    padding-left: 67px;
}

.subs+.subs {
    margin-top:0px;
}

.forms-col-12+.subs {
    margin-bottom:0px;
}

div.form-group.has-error input {
    border:1px solid #d9535f !important;
}
div.form-group  .has-error input {
    border:1px solid #d9535f !important;
}

#bx-soa-region .tooltip {
    display:none  !important;
}

#bx-soa-properties div.alert-danger,
#bx-soa-properties strong,
#bx-soa-properties div.text-right {
    display:none  !important;
}

#bx-soa-order .bx-soa-section-title-container {
    display:none  !important;
}

div.date>span {
    text-transform:lowercase !important;
}

input.hidden-xs,a.hidden-xs,p.hidden-xs,h6.hidden-xs,div.hidden-xs {
    display:none !important;
}

li.hidden-xs {
    display:none !important;
}

a.subm {
    padding:0px;
}

section.subscribe_block input.red {
    border: 1px solid #d9535f;
}


.tabs_single li.current a {
    color:#FFF !important;
}

.mobile_restyle>span {
    display: inline-block !important;
}

.bx-blue .btn.btn-default{
    background-color:#d9535f !important;
}

#bx-soa-delivery label.bx-soa-pp-company span.bx-soa-pp-company-smalltitle {
    position: relative;
    left: -35px;
    padding: 0px 0px 0px 35px;
}

.ipolkladrform #map {
    display:none;
}

.ipolkladrform input {
    padding: 0 20px !important;
}

.empty_banners div.item {
    height:240px;
}

div.item div.hidden, label.hidden {
    display:none !important;
}

@media screen and (max-width: 981px) {
    .total_cart {
        display: none !important;
    }
}

@media screen and (min-width: 981px) {
    ul > .without_megamenu.on a {
        background-color: #f6f6f6;
        color: #d9535f;
    }

    .bx-basket-block {
        display:inline;
        padding: 0px;
    }

    .bx-basket-block a {
        margin:0px;
    }

    .personal_area_edit .calendar-icon {
        position: absolute;
        right:10px;
        width:47px;
        height: 47px;
    }



    .personal_area_edit .without_icon_input select {
        margin-left: 67px;
    }

    .navigation_area a, .topline a, .footer_menu a, .footer_contacts a {
        text-decoration: none;
    }



    .wrapCarouselFull.popup {
        padding:0px !important;
        width:auto !important;
    }

    .play_video .video_title {
        display:block !important;
    }

    .play_video .play_icon {
        display:block !important;
    }

    .play_video iframe {
        display:none;
    }
    .fancybox-content .videob {
        display:none;
    }
}