html{
	&.ovh{
		overflow: hidden;
		body{
			overflow-y: hidden;
		}
	}
}
body{
	font-family: 'Avenir Next W1G';
	overflow-x: hidden;
	font-size: 16px;
}
.img-responsive{
	max-width: 100%;
	height: auto;
	display: block;
}
.btn{
	height: 44px;
	border-radius: 27px;
	display: flex;
	justify-content: center;
	align-items: center;
	border:2px solid $color-main;
	background: $color-main;
	min-width: 240px;
	color: #fff;
	text-decoration: none;
	@include tr(all);
	&:hover{
		background: transparent;
	}
	&.btn--open{
		background: transparent;
		border-color: #fff;
		&:hover{
			background: #fff;
			color: rgba(0, 0, 0, 0.7);
		}
	}
}
.teleported{
	display: none!important;
}
.mr-auto{
	@media (min-width: 768px) {
		
		margin-right: auto;
	}
}
.mr-sm-auto{
	@media (max-width: 767px) {
		margin-right: auto;
	}
}
.p-0{
	padding: 0;
}
@media (max-width: 767px) {
	.p-sm-0{
		padding: 0!important;
	}
}