footer{
	padding-bottom: 54px;
	padding-top: 48px;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	@media (max-width: 576px) {
		padding-top: 40px;
	}
	.footer{
		&__logo{
			margin-bottom: 14px;
			img{
				@media (max-width: 576px) {
					margin: 0 auto;
				}
			}
		}
		&__description{
			white-space: nowrap;
			margin-bottom: 38px;
			@media (max-width: 576px) {
				margin-bottom: 32px;
			}
			span{
				display: block;
				margin-bottom: 10px;
				@media (max-width: 576px) {
					display: inline-block;
					margin: 0 3px 10px;
				}
			}
		}
		&__social{
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 32px;
			@media (max-width: 576px) {
				justify-content: center;
			}
			.social{
				&__link{
					@include tr(opacity);
					&:hover{
						opacity: .6;
					}
					@media(max-width: 576px){
						margin: 0 14px;
					}
				}
			}
		}
		&__subscribe{
			white-space: nowrap;
			@media (max-width: 576px) {
				margin-bottom: 24px;
			}
			.subscribe{
				&__title{
					color: rgba(0, 0, 0, 0.7);
					margin-bottom: 16px;
					display: block;
				}
				&__field{
					position: relative;
					input{						
						border: 1px solid rgba(0, 0, 0, 0.12);
						outline: none;
						width: 100%;
						height: 40px;
						padding: 0 28px 0 16px;
						font-size: 14px;
						color: rgba(0, 0, 0, 0.5);
						&::placeholder{
							color: rgba(0, 0, 0, 0.5);
						}
					}
					button{
						position: absolute;
						width: 32px;
						height: 40px;
						background-image: url('/assets/images/svg/dropdown-right.svg');
						background-size: 8px 12px;
						background-position: center center;
						background-repeat: no-repeat;
						background-color: transparent;
						border:none;
						outline:none;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						cursor: pointer;
						z-index: 2;
					}
				}
			}
		}
		&__navigation{
			&.footer__navigation--info{
				@media (max-width: 576px) {
					text-align: center;
					overflow: hidden;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
				}
				.navigation{
					&_link{
						font-size: 16px;
						color: #000;
						&:nth-child(7),&:nth-child(8){
							margin-bottom: 36px;
							@media (max-width: 991px) {
								margin-bottom: 32px;
							}
						}
						@media (max-width: 991px) {
							&:nth-child(7){
								margin-bottom: 10px;
							}
							&:not(.navigation_link--category){
								display: block;
							}
						}
					}
				}
			}
			.navigation{
				&-title{
					height: 20px;
					font-weight: 600;
					color: rgba(0, 0, 0, 0.7);
					display: block;
					margin-bottom: 12px;
					@media (max-width: 576px) {
						display: none;
					}
				}
				&_link{
					display: block;
					text-decoration: none;
					font-size: 14px;
					color: rgba(0, 0, 0, 0.7);
					font-weight: 500;
					margin-bottom: 10px;
					@include tr(color);
					&:hover{
						color: $color-main;
					}
					&--category{
						font-weight: 600;
						font-size: 16px;
						line-height: 20px;
						@media (max-width: 991px) {
							margin-bottom: 32px;
						}
					}
					@media (max-width: 991px) {
						&:not(.navigation_link--category){
							display: none;
						}
					}
					@media (max-width: 576px) {
						display: block;
						margin: 12px 16px!important;
					}
				}
			}
		}
		&__copyright{
			margin-top: 24px;
			color: #000;
			font-size: 14px;
			font-weight: 500;
			white-space: nowrap;
			@media (max-width: 991px) {
				margin-top: 32px;
			}
			@media (max-width: 576px){
				text-align: center;
			}
		}
	}
	#slider__lang-footer{
		max-height: 72px;
		margin-bottom: 32px;
		width: 100px;
		.swiper-slide.swiper-slide-active{
			.slider__lang{
				color: rgba(0, 0, 0, 0.7);
			}
		}
		.swiper-slide{
		}
		.slider{
			&__lang{
				padding-right: 30px;
				font-size: 16px;
				margin-bottom: 8px;
				color: rgba(0, 0, 0, 0.3);
			}
		}
		.swiper-button-next, .swiper-button-prev{
			width: 10px;
			height: 6px;
			background-size: 10px 6px;
			outline:none;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3e%3cpath d='M5.00001 2.83L7.46001 5.29C7.85001 5.68 8.48001 5.68 8.87001 5.29C9.26001 4.9 9.26001 4.27 8.87001 3.88L5.70001 0.700001C5.31001 0.310001 4.68001 0.310001 4.29001 0.700001L1.12001 3.88C0.730015 4.27 0.730015 4.9 1.12001 5.29C1.51001 5.68 2.14001 5.68 2.53001 5.29L5.00001 2.83Z' fill='rgba(0, 0, 0, 0.5)' fill-opacity='0.7'/%3e%3c/svg%3e");
		}
		.swiper-button-prev{
			right: 4px;
			left: initial;
			transform: rotate(-180deg);
			margin-top: 0;
		}
		.swiper-button-next{
			right: 4px;
			margin-top: -16px;
		}
	}
}