header{
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 99;
	@include tr(background);
	@media (max-width:767px){
		background: transparent;
		&.fixed{
			background: #fff;
			.header{
				&__logo,&__search,&__cart,&__burger{
					color: rgba(0,0,0,0.7);
					svg{
						fill:rgba(0,0,0,0.7);
					}
				}
				&__logo{
					svg{
						path{
							display: none;
							&:nth-child(10),&:nth-child(11){
								display: block;
								fill:$color-main;
							}
						}
					}
				}
				&__cart{
					& > a{
						&:focus,&:visited{
							color: rgba(0,0,0,0.7);
						}
					}
				}
			}
		}
		.header{
			&__logo{
				padding-left: 20px;
				svg{
					path{
						display: none;
						&:nth-child(10),&:nth-child(11){
							display: block;
							fill:#fff;
						}
					}
				}
			}
		}
	}
	.header{		
		&__navigation{
			display: flex;
			align-items: center;
			height: 64px;
			@media (max-width: 767px){
				transform: translateX(100%);
				position: absolute;
				z-index: 2;
				// visibility: hidden;
				width: 100vw;
				right: 0;
				height: 100vh;
				top: 0;
				background: #fff;
				flex-direction: column;
				align-items: flex-start;
				overflow-y: scroll;
				@include tr(transform);
				&.opened{
					transform: translateX(0);
				}
			}
			@media (max-width: 560px) {
				width: 100vw;
				right: 0;
			}
		}
		&__logo,&__search,&__cart,&__burger{
			height: 64px;
			display: flex;
			align-items: center;
			color: rgba(0,0,0,.7);
			@media (max-width: 767px){
				color: #fff;
			}
			i{
				font-size: 24px;
				@include tr(color);
			}
			svg{
				@include tr(fill);
			}
		}
		&__logo{
			@media (max-width: 400px) {
				margin-right: -50px;	
			}
		}
		&__burger{
			padding-right: 20px;
		}
		&__search{
			justify-content: center;
			&:hover{
				i{
					color: $color-main;
				}
			}
		}
		&__cart{
			white-space: nowrap;
			text-decoration: none;
			& > a{
				font-size: 20px;
				display: block;
				cursor: pointer;
				text-decoration: none;
				&:focus,&:visited{
					color: #000;
					@media (max-width: 767px) {
						color: #fff;
					}
				}
				i{
					margin-right: 32px;
					@media (max-width:1199px) {
						margin-right: 0;
					}
				}
			}
			@media (max-width: 767px){
				& > span{
					display: none;
				}
			}
			&:hover{
				i{
					color: $color-main;
				}
			}
			.cart__dropdown{
				position: absolute;
				top: 70px;
				opacity: 0;
				visibility: hidden;
				background: #fff;
				padding: 8px 20px 32px 20px;
				width: 351px;
				right: -10px;
				box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
				border-radius: 2px;
				@include tr(all);
				@media (max-width: 576px) {
					position: fixed;
					width: calc(100vw - 20px);
					left: 10px;
					max-height: calc(100vh - 64px);
					overflow-y: scroll;
				}
				&.opened{
					top: 64px;
					opacity: 1;
					visibility: visible;
				}
				.dropdown{
					&__item{
						display: flex;
						padding-bottom: 22px;
						padding-top: 24px;
						border-bottom: 1px solid rgba(0, 0, 0, 0.12);
						&_image{
							margin-right: 20px;
							height: 90px;
						}
						&_info{
							display: flex;
							flex-wrap: wrap;
							color: rgba(0,0,0,.7);
							width: calc(100% - 110px);
						}
						&_name{
							width: 100%;
							margin-bottom: auto;
							font-size: 12px;
							font-weight: 600;
							color: rgba(0, 0, 0, 0.7);
							white-space: pre-line;
							line-height: 16px;
						}
						&_vendor{
							font-size: 10px;
						}
						&_color,&_hashtag,&_counts{
							font-size: 12px;
							font-weight: bold;
							display: block;
						}
						&_price{
							font-size: 12px;
							font-weight: bold;
							display: block;
							&--old{
								font-size: 10px;
								font-weight: 400;
								display: block;
								text-decoration-line: line-through;
								color: rgba(0, 0, 0, 0.5);						
							}
						}
						&_delete{
							margin-top: auto;
							font-size: 12px;
							text-transform: uppercase;
							cursor: pointer;
						}
						&_left,&_right{
							width: 50%;
							display: flex;
							flex-direction: column;
						}
						&_left{
							justify-content: space-between;
						}
					}
					&__cost{
						display: flex;
						margin-top: 20px;
						&_title{
							font-size: 14px;
							color: rgba(0, 0, 0, 0.7);
							font-weight: bold;
							span{
								margin-top: 8px;
								font-size: 10px;
								font-weight: 400;
								display: block;
								color: rgba(0, 0, 0, 0.5);
								a{
									color: rgba(0, 0, 0, 0.5);
									&:hover{
										text-decoration: none;
									}
								}
							}
						}
						&_total{
							font-size: 12px;
							color: rgba(0, 0, 0, 0.7);
							font-weight: bold;
							width: 90px;
							margin-left: auto;
						}
					}
					&__buttons{
						margin-top: 20px;
						.btn{
							max-width: 260px;
							margin: 0 auto;
						}
						.btn--open{
							color: rgba(0,0,0,0.7);
							border-color: rgba(0,0,0,0.5);
							margin-top: 24px;
							margin-bottom: 26px;
						}
						.dropdown__continue{
							text-transform: uppercase;
							font-size: 14px;
							color: rgba(0,0,0,0.5);
							text-align: center;
							text-decoration: none;
							display: block;
						}
					}
					&__added{
						color: $color-main;
						font-size: 16px;
						margin-bottom: 24px;
						margin-top: 10px;
						text-align: center;
					}
				}
			}
		}
	}
	.navigation{
		&__mobile{
			margin-bottom: 37px;
			margin-top: 14px;
			display: flex;
			padding: 0 30px;
			align-items:center;
			width: 100%;
			svg{
				margin-left: auto;
				margin-right: -10px;
			}
		}
		&__link{
			font-size: 16px;
			line-height: 64px;
			color: rgba(0, 0, 0, 0.7);
			text-decoration: none;
			font-weight: 500;
			text-transform: capitalize;
			display: block;
			padding: 0 15px;
			@media (min-width:768px) and (max-width:991px){
				font-size: 14px;
			}
			@media (max-width: 767px){
				width: 100%;
				line-height: 1;
				margin-bottom: 24px;
				padding: 0 30px!important;
			}
			@include tr(color);
			svg{
				@include tr(fill);
			}
			&:hover,.opened,.active{
				color: $color-main;
				svg{
					fill:$color-main;
				}
			}
			&.link--category{
				text-transform: uppercase;
				font-weight: 600;
			}
			&.link--dropdown{
				margin-right: 0;
				position: relative;
				@media (max-width: 767px) {
					display: none;
				}
				i{
					font-size: 24px;
				}
			}
		}
		&__dropdown{
			position: relative;
			width: 100%;
			&.dropdown--border{
				@media (max-width: 767px) {					
					margin-bottom: 24px;
					position: relative;
					&:after{
						content: '';
						height: 1px;
						background: rgba(0,0,0,.12);
						position: absolute;
						left: 20px;
						right: 20px;
					}
				}
			}
			&.dropdown--first{			
				top: 70px;
				position: absolute;
				padding: 24px 0 40px 0;
				opacity: 0;
				left: -10px;
				background: #fff;
				border-radius: 2px;
				box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
				visibility: hidden;
				width: 240px;
				@media (max-width: 1250px){
					left:-100px;
				}
				@media (max-width: 1199px){
					left:-150px;
					width: 220px;
				}
				@media (max-width: 767px){
					opacity: 1;
					position: static;
					visibility: visible;
					padding: initial;
					box-shadow: none;
					width: 100%;
				}
				& > .navigation__dropdown{
					// @media (min-width: 768px) {						
					// 	&:not(:hover){
					// 		.dropdown--second{
					// 			opacity: 0!important;
					// 			visibility: hidden !important;
					// 			transform: translateX(105%);		
					// 		}
					// 	}			
					// }
					// @media(min-width: 768px){						
					// 	&:hover{
					// 		.dropdown--second{
					// 			opacity: 1;
					// 			visibility: visible;
					// 			transform: translateX(100%);
					// 			@include tr(all);
					// 		}
					// 	}
					// }
					&.opened{
						.dropdown--second{
							opacity: 1;
							visibility: visible;
							transform: translateX(100%);
							@include tr(all);
							@media (max-width: 767px) {
								max-height: 1000px;
								@include tr(max-height);
							}	
						}
					}
				}
				.navigation{
					&__link{
						line-height: 1;
						margin-bottom: 24px;
						padding: 0 20px;
						&:last-child{
							@media (min-width: 768px){
								margin-bottom: 0;
							}
						}
						&.link--category{
							line-height: 19px;
							position: relative;
							&:before{
								content:'';
								width: 8px;
								height: 12px;
								background-image: url('/assets/images/svg/dropdown-right.svg');
								background-size: 8px 12px;
								background-position: center center;
								background-repeat: no-repeat;
								position: absolute;
								right: 28px;
								top: 50%;
								transform: translateY(-50%);
								@media (max-width: 767px) {
									right: 30px;
									transform: rotate(90deg) translateY(-50%);
								}
							}
						}
						&.link--border{
							@media (min-width: 768px) {								
								margin-bottom: 45px;
								position: relative;
								&:after{
									content: '';
									height: 1px;
									background: rgba(0, 0, 0, 0.12);
									margin-top: 21px;
									position: absolute;
									bottom: -24px;
									left: 20px;
									right: 20px;
								}
							}
						}
					}
				}
			}
			&.dropdown--second{
				position: absolute;
				opacity: 0;
				visibility: hidden;
				background: #fff;
				border-radius: 2px;
				box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
				padding: 24px 20px;
				width: 220px;
				transform: translateX(105%);				
				top: -24px;
				z-index: -1;
				right: 0;
				@media (max-width: 1199px){
					width: 170px;
				}
				@media (max-width: 767px){
					position: static;
					width: 100%;
					transform: initial!important;
					box-shadow: none;
					padding: 0px;
					max-height: 0px;
					overflow: hidden;
					@include tr(max-height);
					opacity: 1;
					visibility: visible;
				}
				.navigation{
					&__link{
						font-weight: 400;
						padding: 0;    	
						@media (max-width: 767px) {
							padding: 0 40px!important;
						}				
					}
				}
				& > .navigation__dropdown{
					& > .navigation__link{
						font-weight: 600;
						position: relative;
						&:before{
							content:'';
							width: 8px;
							height: 12px;
							background-image: url('/assets/images/svg/dropdown-right.svg');
							background-size: 8px 12px;
							background-position: center center;
							background-repeat: no-repeat;
							position: absolute;
							right: 8px;
							top: 50%;
							transform: translateY(-50%) rotate(90deg);
							@include tr(all);
							@media (max-width: 767px) {
								right: 24px;
							}
						}
					}			
					// @media (min-width: 768px) {						
					// 	&:hover{
					// 		.dropdown--third{
					// 			max-height: 600px;
					// 			@include tr(max-height);
					// 		}
					// 		& > .navigation__link{
					// 			&:before{
					// 				transform: translateY(-50%) rotate(-90deg);
					// 			}
					// 		}
					// 	}
					// }
					&.opened{
						.dropdown--third{
							max-height: 600px;
							@include tr(max-height);
						}
						& > .navigation__link{
							&:before{
								transform: translateY(-50%) rotate(-90deg);
							}
						}
					}
				}
			}
			&.dropdown--third{
				max-height: 0px;
				overflow: hidden;
				@include tr(max-height);
				.navigation{
					&__link{
						@media (max-width: 767px) {
							padding: 0 70px!important;
						}
					}
				}
			}
			// @media (min-width: 768px) {				
			// 	&:hover{
			// 		.dropdown--first {
			// 			top: 64px;
			// 			opacity: 1;
			// 			visibility: visible;
			// 			@include tr(all);
			// 		}
			// 	}
			// }
			&.opened{
				.dropdown--first {
					top: 64px;
					opacity: 1;
					visibility: visible;
					@include tr(all);
				}
			}
			&.dropdown--onelevel{
				.link--category{
					position: relative;
					@media (max-width: 767px) {
						&:before{
							content: '';
							width: 8px;
							height: 12px;
							background-image: url(/assets/images/svg/dropdown-right.svg);
							background-size: 8px 12px;
							background-position: center center;
							background-repeat: no-repeat;
							position: absolute;
							right: 24px;
							top: 50%;
							transform: translateY(-50%) rotate(90deg);
						}
					}
				}
				@media (max-width: 767px) {
					&.opened{
						.dropdown--first{
							@media (max-width: 767px) {
								max-height: 2000px!important;
								@include tr(max-height);
							}
							// .navigation__link{
							// 	margin-bottom: 6px;
							// 	padding: 0 40px!important;
							// 	&:not(:first-child){
							// 		padding: 0 70px!important;
							// 	}
							// }
						}
					}
				}
				.dropdown--first{
					width: 462px;
					display: flex;
					padding-left: 10px;
					padding-right: 10px;
					@media (max-width: 767px){
						opacity: 1;
						position: static;
						visibility: visible;
						padding: initial;
						box-shadow: none;
						flex-direction: column;
						width: 100%;
						max-height: 0px;
						overflow: hidden;
						@include tr(max-height);
					}
					.dropdown__column{
						width: 90px;
						margin:0 10px;
						&:last-child{
							margin-right: 0;
						}
						@media (max-width: 767px){
							width: 100%;
							margin: 0;
							&:last-child{
								margin-bottom: 24px;
							}
						}
					}
					.navigation__link{
						margin-bottom: 14px;
						font-size: 14px;
						padding: 0;
						&.link--category{
							text-transform: initial;
							font-size: 16px;
							&:before{
								display: none;
							}
						}
						@media (max-width: 767px) {
							margin-bottom: 6px;
							padding: 0 40px!important;
							&:not(:first-child){
								padding: 0 70px!important;
							}
						}
					}
				}
			}
		} 
	} 
} 