.products{
	margin-top: 37px;
	& + .products{
		margin-top: 80px;
		margin-bottom: 96px;
		@media (max-width: 576px) {
			margin-top: 46px;
			margin-bottom: 54px;
		}
	}
	&__title{
		display: flex;
		align-items:flex-end;
		font-weight: 500;
		&-header{
			font-size: 36px;
			margin: 0;
			@media (max-width: 576px) {
				font-size: 24px;
			}
		}
		&-more{
			font-size: 16px;
			text-transform: uppercase;
			display: block;
			margin-left: 20px;
			text-decoration: none;
			color: $color-main;
			position: relative;
			padding-right: 18px;
			@include tr(opacity);
			&:before{
				content:'';
				width: 8px;
				height: 12px;
				background-image: url('/assets/images/svg/dropdown-right.svg');
				background-size: 8px 12px;
				background-position: center center;
				background-repeat: no-repeat;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			&:hover{
				opacity: .6;
			}
			@media (max-width: 576px) {
				font-size: 12px;
				margin-left: auto;
			}
		}
	}
	.slider__products{
		margin-top: 48px;
		@media (max-width: 576px) {
			margin-top: 24px;
		}
		.row{
			box-sizing: border-box;
			width: auto;
			@media (max-width: 576px){
				flex-wrap: nowrap;
			}
		}
	}
}
.product{
	text-align: center;
	text-decoration: none;
	display: block;
	position: relative;
	&:hover{ 
		.product {
			&__image{
				img{
					transform: scale(1.1);
				}
			}
			&__color{
				&_count{
					display: none;
				}
				&_block{
					display: block;
				}
			}
			&__header{
				color: rgba(0, 0, 0, 0.9);
			}
			&__description{
				color: rgba(0, 0, 0, 0.7);
			}
		}
	}
	&__lable{
		position: absolute;
		top: 16px;
		left: 16px;
		min-width: 40px;
		height: 40px;
		border-radius: 20px;
		background: linear-gradient(0deg, #FF7F4D, #FF7F4D);
		color: #fff;
		font-size: 14px;
		z-index: 4;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		padding: 0 12px;
		.lable{
			&--sale{
				&:before{
					content:'%';
				}
			}
			&--saleText{
				&:before{
					content:attr(data-saletext) '%';
				}
			}
			&--saleBig{
				&:before{
					content:'Акция';
				}
			}
			&--hot{
				&:before{
					content:'\e802';
					font-family: "playply";
					font-size: 19px;
				}
			}
			&--new{
				&:before{
					content:'\e806';
					font-family: "playply";
					font-size: 19px;
				}
			}
			&--newBig{
				display: flex;
				align-items: center;
				&:before{
					content:'\e806';
					font-family: "playply";
					font-size: 19px;
				}
				&:after{
					content: 'Новинка';
					margin-left: 7px;
				}
			}
		}
	}
	&__image{
		margin-bottom: 8px;
		overflow: hidden;
		img{
			width: 100%;
			@include tr(transform);
			&:not(:first-child){
				display: none;
			}
		}
	}
	&__color{
		height: 30px;
		&_count{
			font-size: 14px;
			line-height: 16px;
			color: rgba(0, 0, 0, 0.5);
		}
		&_block{
			display: none;
			svg{
				@include tr(transform);
				cursor: pointer;
				&:hover{
					transform: scale(1.2);
				}
			}
		}
	}
	&__header{
		margin: 0 0 10px 0;
		font-weight: 600;
		color: rgba(0, 0, 0, 0.7);
		font-size: 16px;
		@include tr(color);
	}
	&__description{
		font-size: 14px;
		color: rgba(0, 0, 0, 0.5);
		margin-bottom: 10px;
		@include tr(color);
	}
	&__price{
		&-current{			
			color: $color-main;
			font-weight: 600;
		}
		&-sale{
			font-size: 14px;
			text-decoration-line: line-through;
			color: rgba(0, 0, 0, 0.3);
			margin-left: 20px;
		}
	}
}