.slider{
	padding-top: 64px;
	@media (max-width:767px){
		padding-top: 0;
	}
	.swiper-slide{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	&__content{
		display: flex;
		justify-content: center;
		height: calc(100vh - 64px);
		flex-direction: column;		
		color: #fff;
		@media (max-width: 767px) {
			height: calc(100vh - 80px);
			padding-top: 80px;
		}
		@media (max-width: 576px) {
			padding-left: 20px;
			padding-right: 20px;
			justify-content: flex-start;
		}
	}
	&__header{
		font-size: 72px;
		line-height: 88px;
		font-weight: 600;
		margin-bottom: 30px;
		margin-top: 0;
		@media (max-width: 576px) {
			font-size: 48px;
			line-height: 64px;
			margin-bottom: 24px;
		}
	}
	&__description{
		font-size: 20px;
		line-height: 24px;
		font-weight: 500;
		margin-bottom: 32px;
		@media (max-width: 576px) {
			font-size: 16px;
			line-height: 1;
		}
	}
	&__buttons{
		display: flex;
		margin-left: -30px;
		@media(max-width: 767px) and (min-width: 577px){
			margin-left: 0;
			.btn{
				width: 50%;
				min-width: auto;
			}
		}
		@media (max-width: 576px) {
			margin-top: auto;
			margin-left: 0;
			margin-bottom: 160px;
			flex-wrap: wrap;
			justify-content: center;
			.btn{
				margin: 12px!important;
			}
		}
		@media (max-width: 576px) {
			margin-bottom: 120px;
		}
		.btn{
			&:first-child{
				margin-right: 20px;
			}
		}
	}
	.swiper-button-next, .swiper-button-prev{
		width: 20px;
		height: 50px;
		background-size: 20px 50px;
		outline:none;
		@media (max-width: 576px) {
			display: none;
		}
	}
	.swiper-button-prev{
		background-image: url('/assets/images/svg/slider-left.svg');
		left: 30px;
	}
	.swiper-button-next{
		background-image: url('/assets/images/svg/slider-right.svg');
		right: 30px;
	}
	.swiper-pagination-progressbar{
		background: #fff;
	}
	.swiper-container-horizontal>.swiper-pagination-progressbar{
		top:auto;
		bottom: 0;
		height: 8px;
	}
	.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
		background: $color-main;
	}
	#slider__lang{
		position: absolute;
		bottom: 64px;
		max-height: 72px;
		@media (max-width: 767px) {
			right: 0;
		}
		.swiper-slide.swiper-slide-active{
			.slider__lang{
				color: #fff;
			}
		}
		.swiper-slide{
		}
		.slider{
			&__lang{
				padding-right: 30px;
				font-size: 16px;
				margin-bottom: 8px;
				color: rgba(255, 255, 255, 0.5)
			}
		}
		.swiper-button-next, .swiper-button-prev{
			width: 10px;
			height: 6px;
			background-size: 10px 6px;
			outline:none;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3e%3cpath d='M5.00001 2.83L7.46001 5.29C7.85001 5.68 8.48001 5.68 8.87001 5.29C9.26001 4.9 9.26001 4.27 8.87001 3.88L5.70001 0.700001C5.31001 0.310001 4.68001 0.310001 4.29001 0.700001L1.12001 3.88C0.730015 4.27 0.730015 4.9 1.12001 5.29C1.51001 5.68 2.14001 5.68 2.53001 5.29L5.00001 2.83Z' fill='rgba(255, 255, 255, 0.5)' fill-opacity='0.7'/%3e%3c/svg%3e");
		}
		.swiper-button-prev{
			right: 4px;
			left: initial;
			transform: rotate(-180deg);
			margin-top: 0;
		}
		.swiper-button-next{
			right: 4px;
			margin-top: -16px;
		}
	}
}