footer
	.container
		.row.justify-content-center.justify-content-sm-between
			.col-auto.col-md-4.col-lg-2
				.footer__logo
					img(src="/assets/images/svg/logo-vertical.svg", alt="").img-responsive
				.footer__description
					span Детская мебель.
					span Сделано родителями
				.footer__lang.d-block.d-sm-none
					.swiper-container#slider__lang-footer
						.swiper-wrapper
							.swiper-slide
								.slider__lang(data-lang="ru") Русский
							.swiper-slide
								.slider__lang(data-lang="de") Deutsche
							.swiper-slide
								.slider__lang(data-lang="esp") Español
						.swiper-button-next.swiper-button-white
						.swiper-button-prev.swiper-button-white
				.footer__social
					a(href="#").social__link
						img(src="/assets/images/svg/inst.svg", alt="").img-responsive
					a(href="#").social__link
						img(src="/assets/images/svg/vk.svg", alt="").img-responsive
					a(href="#").social__link
						img(src="/assets/images/svg/fb.svg", alt="").img-responsive
					a(href="#").social__link
						img(src="/assets/images/svg/pt.svg", alt="").img-responsive
				form.footer__subscribe
					span.subscribe__title Следите за новостями
					.subscribe__field
						input(type="email",placeholder="E-mail")
						button(type="submit")
			.col-auto.col-md-3.offset-lg-1.pr-0
				nav.footer__navigation.footer__navigation--info
					span.navigation-title
					a(href="#").navigation_link О компании
					a(href="#").navigation_link Блог
					a(href="#").navigation_link Доставка и оплата
					a(href="#").navigation_link Публичная оферта
					a(href="#").navigation_link Политика конфеденциаьности
					a(href="#").navigation_link Контакты
					a(href="#").navigation_link Каталог PDF
					a(href="#").navigation_link Связаться с нами
				.footer__copyright © 2013-2019 PLAYPLY. Все права защищены
			.col-2.col-lg-1.pl-0.d-none.d-md-block
				nav.footer__navigation
					span.navigation-title Мебель
					a(href="#").navigation_link.navigation_link--category Серия CLIC
					a(href="#").navigation_link.navigation_link--category(data-teleport-target="footer__nav-first") 
					a(href="#").navigation_link.navigation_link--category(data-teleport-target="footer__nav-second") 
					a(href="#").navigation_link.navigation_link--category(data-teleport-target="footer__nav-third") 
					a(href="#").navigation_link Столы
					a(href="#").navigation_link Стулья
					a(href="#").navigation_link Этажерка
					a(href="#").navigation_link Стул для кормления
			.col-lg-1.d-none.d-lg-block
				nav.footer__navigation
					span.navigation-title
					a(href="#").navigation_link.navigation_link--category(js-teleport data-teleport-to="footer__nav-first" data-teleport-condition="<992") Серия CLIC
					a(href="#").navigation_link Столы
					a(href="#").navigation_link Стулья
					a(href="#").navigation_link Этажерка
					a(href="#").navigation_link Стул для кормления
			.col-lg-1.d-none.d-lg-block
				nav.footer__navigation
					span.navigation-title
					a(href="#").navigation_link.navigation_link--category(js-teleport data-teleport-to="footer__nav-second" data-teleport-condition="<992")  Серия CLIC
					a(href="#").navigation_link Столы
					a(href="#").navigation_link Стулья
					a(href="#").navigation_link Этажерка
					a(href="#").navigation_link Стул для кормления
			.col-lg-1.d-none.d-lg-block
				nav.footer__navigation
					span.navigation-title
					a(href="#").navigation_link.navigation_link--category(js-teleport data-teleport-to="footer__nav-third" data-teleport-condition="<992")  Серия CLIC
					a(href="#").navigation_link Столы
					a(href="#").navigation_link Стулья
					a(href="#").navigation_link Этажерка
					a(href="#").navigation_link Стул для кормления
			.col-3.col-lg-1.pr-0.d-none.d-md-block
				nav.footer__navigation
					span.navigation-title Аксессуары
					a(href="#").navigation_link Столы
					a(href="#").navigation_link Стулья
					a(href="#").navigation_link Этажерка
					a(href="#").navigation_link Стул для кормления
script(async src="/assets/js/all.js")
