header
	.container
		.row
			.col-auto.col-md-2.mr-sm-auto
				a(href='#').header__logo
					<svg xmlns="http://www.w3.org/2000/svg" width="156" height="38" viewBox="0 0 156 38" fill="none">
						<path d="M59.0589 10.5303H53.3735C52.2132 10.5303 51.401 11.4459 51.401 12.4761V25.9821C51.401 27.0122 52.3292 27.9279 53.3735 27.9279C54.5338 27.9279 55.346 27.0122 55.346 25.9821V23.1206H59.0589C62.5398 23.1206 65.4405 20.2592 65.4405 16.8255C65.4405 13.3917 62.6558 10.5303 59.0589 10.5303ZM59.0589 19.2291H55.346V14.5363H59.0589C60.3352 14.5363 61.4955 15.5664 61.4955 16.9399C61.4955 18.1989 60.4513 19.2291 59.0589 19.2291Z" fill="black" fill-opacity="0.7"/><path d="M121.947 10.5303H116.261C115.217 10.5303 114.289 11.4459 114.289 12.4761V25.9821C114.289 27.0122 115.217 27.9279 116.261 27.9279C117.306 27.9279 118.234 27.0122 118.234 25.9821V23.1206H121.947C125.428 23.1206 128.328 20.2592 128.328 16.8255C128.328 13.3917 125.428 10.5303 121.947 10.5303ZM121.947 19.2291H118.234V14.5363H121.947C123.223 14.5363 124.383 15.5664 124.383 16.9399C124.267 18.1989 123.223 19.2291 121.947 19.2291Z" fill="black" fill-opacity="0.7"/><path d="M77.0435 24.1506H71.0099V12.5903C71.0099 11.5602 70.0817 10.6445 69.0374 10.6445C67.8771 10.6445 67.0649 11.5602 67.0649 12.5903V26.0963C67.0649 27.1265 67.9932 28.0421 69.0374 28.0421H77.1595C78.3198 28.0421 79.132 27.1265 79.132 26.0963C79.132 25.0662 78.2037 24.1506 77.0435 24.1506Z" fill="black" fill-opacity="0.7"/><path d="M97.9288 25.1807L90.967 11.6747C90.6189 10.9879 89.9228 10.6445 89.2266 10.6445C88.4144 10.6445 87.8342 11.1024 87.4861 11.6747L80.5244 25.1807C80.2923 25.6385 80.2923 26.2108 80.4084 26.6686C80.5244 27.1265 80.8725 27.5843 81.4526 27.8132C81.6847 27.9277 82.0328 28.0421 82.3809 28.0421C83.1931 28.0421 83.7732 27.5843 84.1213 27.012L85.0495 25.0662H93.4036L94.3319 27.012C94.68 27.6987 95.3761 28.0421 96.0723 28.0421C96.4204 28.0421 96.6525 27.9277 97.0006 27.8132C97.9288 27.3554 98.3929 26.0963 97.9288 25.1807ZM86.906 21.0602L89.1106 16.8253L91.3151 21.0602H86.906Z" fill="black" fill-opacity="0.7"/><path d="M111.504 10.9879C111.156 10.759 110.808 10.6445 110.344 10.6445C109.764 10.6445 109.068 10.9879 108.72 11.4457L103.962 17.8554L99.2051 11.4457C98.857 10.9879 98.2769 10.6445 97.5807 10.6445C97.1166 10.6445 96.7685 10.759 96.4204 10.9879C95.9563 11.3313 95.7242 11.7891 95.6082 12.2469C95.4922 12.8192 95.6082 13.2771 95.9563 13.7349L101.99 21.8614V26.0963C101.99 27.1265 102.918 28.0421 103.962 28.0421C105.007 28.0421 105.935 27.1265 105.935 26.0963V21.8614L111.968 13.7349C112.548 12.8192 112.316 11.5602 111.504 10.9879Z" fill="black" fill-opacity="0.7"/><path d="M155.131 10.9879C154.783 10.759 154.435 10.6445 153.971 10.6445C153.391 10.6445 152.695 10.9879 152.346 11.4457L147.589 17.8554L142.832 11.4457C142.484 10.9879 141.904 10.6445 141.208 10.6445C140.744 10.6445 140.395 10.759 140.047 10.9879C139.119 11.6747 139.003 12.8192 139.583 13.7349L145.617 21.8614V26.0963C145.617 27.1265 146.545 28.0421 147.589 28.0421C148.75 28.0421 149.562 27.1265 149.562 26.0963V21.8614L155.595 13.7349C156.291 12.8192 156.059 11.5602 155.131 10.9879Z" fill="black" fill-opacity="0.7"/><path d="M140.395 24.1506H134.246V12.5903C134.246 11.5602 133.318 10.6445 132.273 10.6445C131.229 10.6445 130.301 11.5602 130.301 12.5903V26.0963C130.301 27.1265 131.229 28.0421 132.273 28.0421H140.395C141.556 28.0421 142.368 27.1265 142.368 26.0963C142.368 25.0662 141.44 24.1506 140.395 24.1506Z" fill="black" fill-opacity="0.7"/><path d="M77.5075 14.5361C76.5793 14.5361 75.535 13.8494 75.535 12.5903C75.535 11.3313 76.5793 10.6445 77.6236 10.6445C78.5518 10.6445 79.5961 11.3313 79.5961 12.5903C79.5961 13.8494 78.5518 14.5361 77.5075 14.5361ZM77.6236 10.9879C76.8114 10.9879 75.8831 11.4457 75.8831 12.5903C75.8831 13.7349 76.8114 14.1927 77.6236 14.1927C78.4358 14.1927 79.248 13.6204 79.248 12.5903C79.248 11.5602 78.4358 10.9879 77.6236 10.9879Z" fill="black" fill-opacity="0.7"/><path d="M77.1594 13.5063C77.1594 13.7352 76.6953 13.7352 76.6953 13.5063V11.7895C76.6953 11.675 76.8113 11.5605 76.9274 11.5605H77.7396C78.5518 11.5605 78.6678 12.5907 77.9716 12.8196L78.4358 13.2774C78.5518 13.5063 78.3197 13.7352 78.0877 13.5063L77.6235 12.8196H77.1594V13.5063ZM77.1594 12.5907H77.7396C78.0877 12.5907 78.2037 11.9039 77.7396 11.9039H77.1594V12.5907Z" fill="black" fill-opacity="0.7"/><path fill-rule="evenodd" clip-rule="evenodd" d="M17.0563 10.0725C16.9403 10.0725 16.5922 10.1869 16.5922 10.1869C15.1999 10.6448 14.2716 11.9038 14.2716 13.5062H14.5037C15.1999 13.5062 15.548 14.0785 15.548 14.7652C15.548 15.3375 15.0838 15.9098 14.5037 16.0243V24.4942C14.5037 25.0664 14.0396 25.5243 13.4594 25.5243C12.8793 25.5243 12.4152 25.0664 12.4152 24.4942V17.1689H6.49768V19.0002C6.49768 25.9821 12.1831 31.5905 19.2609 31.5905C26.3387 31.5905 32.0241 25.9821 32.0241 19.0002V17.1689H26.1066V24.4942C26.1066 25.0664 25.6425 25.5243 25.1784 25.5243C24.4822 25.6387 24.0181 25.0664 24.0181 24.4942V15.9098C23.438 15.7954 22.9738 15.3375 22.9738 14.6508C22.9738 13.964 23.438 13.5062 24.0181 13.3917H24.2502C24.2502 11.9038 23.3219 10.5303 21.9296 10.0725C21.9296 10.0725 21.5815 9.95801 21.4655 9.95801C20.8853 9.95801 20.4212 10.4158 20.4212 10.9881V24.4942C20.4212 25.0664 19.9571 25.5243 19.3769 25.5243C18.7968 25.5243 18.3327 25.0664 18.3327 24.4942V11.1026C18.2166 10.5303 17.6365 10.0725 17.0563 10.0725Z" fill="#2DCCD3"/><path d="M19.2609 0.801205C29.4714 0.801205 37.7095 8.92771 37.7095 19C37.7095 29.0723 29.4714 37.1988 19.2609 37.1988C9.05028 37.1988 0.812205 29.0723 0.812205 19C0.812205 8.92771 9.05028 0.801205 19.2609 0.801205ZM19.2609 4.36622e-07C8.58617 4.36622e-07 -8.85233e-07 8.46988 -8.85233e-07 19C-8.85233e-07 29.5301 8.58617 38 19.2609 38C29.9355 38 38.5217 29.5301 38.5217 19C38.5217 8.46988 29.9355 4.36622e-07 19.2609 4.36622e-07Z" fill="#2DCCD3"/>
					</svg>
			.col-auto.order-last.order-md-2.mr-auto
				.header__burger.d-md-none(js-menu)
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#fff">
						<rect x="2" y="5" width="20" height="2" rx="1"/><rect x="2" y="11" width="20" height="2" rx="1"/><rect x="2" y="17" width="14" height="2" rx="1"/>
					</svg>
				nav.header__navigation
					.navigation__mobile.d-md-none
						img(src="/assets/images/svg/logo.svg" alt="").img-responsive
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" js-menu>
							<path d="M6.41421 5L5 6.41421L11.0104 12.4246L5 18.435L6.41421 19.8492L12.4246 13.8388L18.435 19.8492L19.8492 18.435L13.8388 12.4246L19.8492 6.41421L18.435 5L12.4246 11.0104L6.41421 5Z" fill="white"/><path d="M6.41421 5L5 6.41421L11.0104 12.4246L5 18.435L6.41421 19.8492L12.4246 13.8388L18.435 19.8492L19.8492 18.435L13.8388 12.4246L19.8492 6.41421L18.435 5L12.4246 11.0104L6.41421 5Z" fill="#2DCCD3"/>
						</svg>
					.navigation__dropdown.dropdown--onelevel
						a(href='#').navigation__link.link--category мебель
						.navigation__dropdown.dropdown--first
							.dropdown__column
								a(href="#").navigation__link.link--category Серия CLIC
								a(href="#").navigation__link Столы
								a(href="#").navigation__link Стулья
								a(href="#").navigation__link Этажерка
								a(href="#").navigation__link Стул для кормления
							.dropdown__column
								a(href="#").navigation__link.link--category Серия MODE
								a(href="#").navigation__link Кровати
								a(href="#").navigation__link Шкафы
								a(href="#").navigation__link Стеллажи
								a(href="#").navigation__link Лабиринт
								a(href="#").navigation__link Полки
								a(href="#").navigation__link Лестницы
								a(href="#").navigation__link Комод
								a(href="#").navigation__link Столы
								a(href="#").navigation__link Кубики
							.dropdown__column
								a(href="#").navigation__link.link--category Серия MOVE
								a(href="#").navigation__link Столы
								a(href="#").navigation__link Стулья
								a(href="#").navigation__link Этажерка
								a(href="#").navigation__link Стул для кормления
							.dropdown__column
								a(href="#").navigation__link.link--category Серия PLAY
								a(href="#").navigation__link Кровати
								a(href="#").navigation__link Шкафы
								a(href="#").navigation__link Стеллажи
								a(href="#").navigation__link Лабиринт
								a(href="#").navigation__link Полки
								a(href="#").navigation__link Лестницы
								a(href="#").navigation__link Комод
								a(href="#").navigation__link Столы
								a(href="#").navigation__link Рукоход
								a(href="#").navigation__link Качели
								a(href="#").navigation__link Кольца
					a(href='#').navigation__link.link--category аксессуары
					a(href='#').navigation__link(js-teleport data-teleport-to="navigation__project" data-teleport-condition="<768") проектирование
					a(href='#').navigation__link(js-teleport data-teleport-to="navigation__cooperation" data-teleport-condition="<992") сотрудничество
					.navigation__dropdown
						a(href='#').navigation__link.link--dropdown
							i.icon-more
						.navigation__dropdown.dropdown--first
							.navigation__dropdown
								a(href='#').navigation__link.link--category Аксессуары
								.navigation__dropdown.dropdown--second
									a(href='#').navigation__link игрушки
									a(href='#').navigation__link свет
									.navigation__dropdown
										a(href='#').navigation__link серия Эко
										.navigation__dropdown.dropdown--third
											a(href='#').navigation__link Простыни
											a(href='#').navigation__link наволочки
											a(href='#').navigation__link Пододеяльники
							.navigation__dropdown.dropdown--border
								a(href='#').navigation__link.link--category.link--border Матрасы
								.navigation__dropdown.dropdown--second
									a(href='#').navigation__link игрушки
									a(href='#').navigation__link свет
									.navigation__dropdown
										a(href='#').navigation__link серия Эко
										.navigation__dropdown.dropdown--third
											a(href='#').navigation__link Простыни
											a(href='#').navigation__link наволочки
											a(href='#').navigation__link Пододеяльники
							a(href='#').navigation__link(data-teleport-target="navigation__cooperation")
							a(href='#').navigation__link(data-teleport-target="navigation__project")
							a(href='#').navigation__link О компании
							a(href='#').navigation__link Блог
							a(href='#').navigation__link Доставка и оплата
							a(href='#').navigation__link Публичная оферта
							a(href='#').navigation__link Политика конфиденциальности
							a(href='#').navigation__link Каталоги PDF
			.col-auto.col-md-1.order-md-last
				a(href='#').header__search
					i.icon-search
			.col-auto.col-md-1.order-md-last
				.header__cart
					a(href="#").cart__counter 
						i.icon-basket-empty 
						span 0
					.cart__dropdown
						.dropdown__item
							.dropdown__item_image
								img(src="/assets/images/cart_image.png").img-responvise
							.dropdown__item_info
								.dropdown__item_name Этажерка WHATNOT
								.dropdown__item_left
									span.dropdown__item_vendor WHCYL0
									span.dropdown__item_color Желтый
									span.dropdown__item_hashtag # 0
									span.dropdown__item_counts 1 шт
								.dropdown__item_right
									span.dropdown__item_price 5 500 Р.
									span.dropdown__item_price--old 5 500 Р.
									span.dropdown__item_delete удалить
						.dropdown__item
							.dropdown__item_image
								img(src="/assets/images/cart_image.png").img-responvise
							.dropdown__item_info
								.dropdown__item_name Стул для кормления HIGHCHAIR 
								.dropdown__item_left
									span.dropdown__item_vendor WHCYL0
									span.dropdown__item_color Желтый
									span.dropdown__item_hashtag #
									span.dropdown__item_counts 1 шт
								.dropdown__item_right
									span.dropdown__item_price 19 000 Р.
									span.dropdown__item_price--old
									span.dropdown__item_delete удалить
						.dropdown__cost
							.dropdown__cost_title Общая стоимость товаров
								span Без учета стоимости 
									a(href="#") доставки
							.dropdown__cost_total 24 500 Р.
						.dropdown__buttons
							a(href="#").btn Оформить заказ
					.cart__dropdown
						.dropdown__added товар добавлен в корзину						
						.dropdown__buttons
							a(href="#").btn Оформить заказ
							a(href="#").btn.btn--open Смотреть корзину (2)
							a(href="#").dropdown__continue Продолжить покупки
