.gr_gray2 {background:#e2e2de;
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#e2e2de), to(#faefe5));
    background:-webkit-linear-gradient(#e2e2de, #faefe5);
    background:-moz-linear-gradient(#e2e2de, #faefe5);
    background:-ms-linear-gradient(#e2e2de, #faefe5);
    background:-o-linear-gradient(#e2e2de, #faefe5);
    background:linear-gradient(#e2e2de, #faefe5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2de', endColorstr='#faefe5', GradientType=0 );
}

.group_items .name_group_items {position:relative; text-align:center;}
.group_items .items_all {padding:45px 0 0; text-align:center;}

.block_items.ta_center {text-align:center;}
.block_items.ta_center ul.items {display:inline-block; width:100%;}
.block_items.ta_center ul.items > li {display:inline-block; float:none;}

.block_items ul.items > li a.item { background: none !important; }
.block_items .bx_item_detail_scu { display: none !important; }
.block_items .bx_catalog_item_controls { display: none !important; }