.result_block_text h1 {
    padding: 50px 0 0;
    font-family: PFBulletinSansPro-Light, Tahoma, sans-serif;
    font-size: 40px;
    color: #000000;
    text-align: center;
}

.shopping_cart {position:relative; margin:15px 0 0; padding:15px 10px 35px; background:#ffffff;}
.shopping_cart table tr td {border-bottom:1px solid #d3c196;}
.shopping_cart table thead tr td {padding:12px 5px; font-size:16px; color:#9f9f9f;}
.shopping_cart table thead tr td.block_items {padding-left:15px;}
.shopping_cart table tbody tr td {padding:19px 5px; font-size:20px;}
.shopping_cart table tbody tr:hover td {background:#fcf7f2;}

.shopping_cart .check {text-align:center;}
.shopping_cart .discount {color:#ba0103;}
.shopping_cart .null {color:#b7b7b7;}
.shopping_cart .product p {margin:5px 0 0; font-size:15px; width: 160px;}

.shopping_cart .product .icons {position:relative; margin-top:17px;}
.shopping_cart .product .diamond {float:left; width:46px; height:40px; margin-right:14px; background:url("../../../../images/sprite_icons.png") no-repeat;}
.shopping_cart .product .diamond_r {background-position:-47px -74px;}
.shopping_cart .product .diamond_b {background-position:0px -74px;}
.shopping_cart .product .diamond_y {background-position:-93px -74px;}

.shopping_cart .product .circle_num {position:relative; float:left; margin-top:-5px; width:48px; height:48px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
}
.shopping_cart .product .circle_num div {position:absolute; top:3px; left:3px; width:42px; height:42px; background:#f7d696; text-align:center; font-family:PFBulletinSansPro-Medium, Tahoma, sans-serif; font-size:20px; line-height:42px; color:#000000;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
}

.shopping_cart .links_down {position:relative; padding-right:10px; margin-top:80px; text-align:right;}
.shopping_cart .links_down a, .shopping_cart .links_down span {display:inline-block;}
.shopping_cart .links_down a + a, .shopping_cart .links_down a + span {margin-top:20px;}
.shopping_cart .link_delay {font-size:16px; color:#6c6c6c;}
.shopping_cart a.link_remove {font-size:16px; color:#000000;}
.shopping_cart span.link_remove {font-size:16px; color:#d6d6d6;}

.shopping_cart table.goods .block_items .items {margin-top:-3px;}
.shopping_cart table.goods .block_items .item_img {width:125px; height:125px;}
.shopping_cart table.goods .block_items .items_inform {padding-right:35px;}
.shopping_cart table.goods .block_items .items_inform .ring_style {top:3px; right:7px;}

.shopping_cart .row_button {padding:20px 15px 0;}
.shopping_cart .row_button .red_submit {float:right; width:auto; padding:0 14px; font-family:PFBulletinSansPro-Medium, Tahoma, sans-serif;}
.shopping_cart .row_button a {display:inline-block; float:right; margin-right:29px; font-size:16px; line-height:36px; color:#6c6c6c;}

.shopping_cart table.goods .block_items .item_img a.cr50pr { display: block; width: 100%; height: 100%; }
.shopping_cart table.goods .block_items .item_img a.cr50pr>div { display: block; width: 100%; height: 100%; background-position: center 5px; background-repeat: no-repeat;  }

.result_price {position:relative; margin:15px 0 0;}
.result_price .t_table {float:right;}
.result_price .t_cell {padding:2px 15px; text-align:right; font-size:22px; color:#303030;}
.result_price .row_discount .t_cell {padding-bottom:15px; color:#ba0103;}
.result_price .name {font-size:27px; padding-right:0;}
.result_price .row_summary .t_cell {padding-top:15px; border-top:1px solid #d3c196; font-size:31px;}
.result_price .row_summary .name {font-size:31px; color:#000000;}
.result_price .row_summary .t_cell span {font-size:22px;}

.sorting {position:relative; font-size:17px; color:#343434; white-space:nowrap;}
.sorting .sorting_now {display:inline-block; position:relative; padding:0 11px 0 0; color:#343434; text-decoration:none;}
.sorting .sorting_now:hover {text-decoration:underline;}
.sorting .sorting_now .str {position:absolute; top:7px; right:0; width:0; height:0; border:4px solid transparent;}
.sorting .sorting_now .str_up {border-bottom:4px solid #666666;}
.sorting .sorting_now .str_down {border-top:4px solid #666666;}

.block_items .item_img {
    display: block !important;
}

.shopping_cart .product p {
    width:100% !important;
}

div.search-tags-chain a {margin:2px;}
div.search-tags-chain a.search-tags-link {color:#333333; font-size:90%; text-decoration:none;color:#535353;}
div.search-tags-cloud a {white-space: normal;}

div.search-advanced { overflow: hidden; margin: 0.5em 0; zoom:1;}
div.search-advanced-result { float: left; width:70%;}
div.search-advanced-filter { float: right; }
div.search-advanced-filter a { outline: none;}

div.search-item { margin: 0 0 1.5em; padding: 0 0 1.5em; border-bottom: 1px solid;}
div.search-item h4 { font-size: 140%; font-weight: normal; line-height: 1.2; margin: 1.3em 0 0.4em;}
div.search-item h4 a { text-decoration:none;}
div.search-item h4 img { border:0px;vertical-align:middle;}
div.search-item h4 span { vertical-align:middle;text-decoration:underline;}
div.search-result { margin: 0;}
div.search-preview {margin: 0.5em 0;}

div.search-item-meta { margin: 1em 0 0 0; overflow: hidden; zoom: 1;}
div.search-item-rate { float: left; margin: -3px 6px 0 0;}
div.search-item-tags { float: left; }
div.search-item-date { float: right;}

div.search-page input.search-query {width: 99%; border: 1px solid; font-size:1.3em;}
div.search-page input.search-suggest {width: 99%; border: 1px solid; font-size:1.3em;}
div.search-page input.search-button { font-size: 1.2em; }

div.search-filter h2 { margin:1em 0 0.5em; border: none;}
table.search-filter { width: 100%;  margin-top: 0.5em;}
table.search-filter td { padding: 1em; border-top: 1px solid;}
td.search-filter-name { width: 10%; text-align: right;}
td.search-filter-field { width: 50%;}

table.search-filter input.input-field { border: 1px solid; font-size:1.3em; }
table.search-filter select.select-field {border: 1px solid; font-size:1.2em; }

div.search-sorting { margin: 0.5em 0;}
div.search-sorting b { padding: 0.2em 0.3em 0.3em ; font-weight: normal;}
/* COLORS */
div.search-item, table.search-filter td { border-color: #E9E9E9;}
div.search-page input.search-query, div.search-page input.search-suggest, table.search-filter input.input-field, table.search-filter select.select-field { background: #F8F7F7; border-color: #D9D9D9; }
div.search-advanced, div.search-item-meta, div.search-item-meta a { color: #8a8a8a; }
div.search-sorting b { background: #e8e9ec; }


.shopping_cart.search_result .product a { text-decoration: none; }
.shopping_cart.search_result .product p {  margin: 5px 0 0 !important;  font-size: 15px !important;  line-height: 17px !important;  }

.shopping_cart.search_result .block_items .items_inform span.ring_style {
    display: inline-block !important;
    margin: 0 0 -7px 3px !important;
    width: 15px !important;
    height: 15px !important;
    border: 3px solid #ffffff !important;
    position: initial;
}

.search-item-rate {font-size: 11px;}

#search_items_list .bx_catalog_item_scu {display:none;}
#search_items_list .bx_catalog_item_controls_blockone {display: none !important; }
#search_items_list .bx_catalog_item_controls {display: none !important; }
#search_items_list .price{display: none!important;}