extends templates/_default

block content
	section.slider
		.swiper-container#slider__homepage 
			.swiper-wrapper 
				.swiper-slide(style="background-image:url('/assets/images/slider/homepage-slide.jpg')")
					.container
						.row
							.col-12.col-sm-9.col-md-8.col-lg-5.offset-sm-1.offset-md-2
								.slider__content
									h2.slider__header Серия CLIC
									.slider__description Столы, стулья и другая мебель для детей четырех ростовых групп. Собирается без использования инструмента
									.slider__buttons
										a(href="#").btn Купить
										a(href="#").btn.btn--open Подробнее
				.swiper-slide(style="background-image:url('/assets/images/slider/homepage-slide.jpg')")
					.container
						.row
							.col-12.col-sm-9.col-md-8.col-lg-5.offset-sm-1
								.slider__content
									h2.slider__header Серия CLIC
									.slider__description Столы, стулья и другая мебель для детей четырех ростовых групп. Собирается без использования инструмента
									.slider__buttons
										a(href="#").btn Купить
										a(href="#").btn.btn--open Подробнее
			.swiper-pagination 
			.swiper-button-next.swiper-button-white
			.swiper-button-prev.swiper-button-white
		.container.d-none.d-sm-block
			.row
				.col-1.offset-10
					.swiper-container#slider__lang
						.swiper-wrapper
							.swiper-slide
								.slider__lang(data-lang="ru") Русский
							.swiper-slide
								.slider__lang(data-lang="de") Deutsche
							.swiper-slide
								.slider__lang(data-lang="esp") Español
						.swiper-button-next.swiper-button-white
						.swiper-button-prev.swiper-button-white

	section.products
		.container
			.row
				.col-12
					.products__title
						h2.products__title-header Серия CLIC
						a(href='#').products__title-more Смотреть все
			.swiper-container.slider__products
				.swiper-wrapper.row
					.swiper-slide.col-auto.col-sm-6.col-md-4.col-lg-3
						a(href='#').product
							.product__lable
								.lable--sale
								//- .lable--saleText(data-saleText='30')
								//- .lable--saleBig
								//- .lable--hot
								//- .lable--new
								//- .lable--newBig
							.product__image
								img(src="assets/images/product-image.jpg").img-responsive
								img(src="assets/images/product-image-2.jpg").img-responsive
								img(src="assets/images/product-image-3.jpg").img-responsive
								img(src="assets/images/product-image-4.jpg").img-responsive
							.product__color
								span.product__color_count 8 цветов
								.product__color_block
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="1">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#FFDBE4"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#FFDBE4"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="2">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#2DCCD3"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#2DCCD3"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="3">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#fff"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#C4C4C4"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="4">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#FFDBE4"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#FFDBE4"/>
									</svg>
							h3.product__header Серия CLIC
							.product__description Детский стол для четырех ростовых категорий
							.product__price 
								span.product__price-current 3 500 Р.
								span.product__price-sale 5 500 Р.
					.swiper-slide.col-auto.col-sm-6.col-md-4.col-lg-3
						a(href='#').product
							.product__lable
								//- .lable--sale
								.lable--saleText(data-saleText='30')
								//- .lable--saleBig
								//- .lable--hot
								//- .lable--new
								//- .lable--newBig
							.product__image
								img(src="assets/images/product-image.jpg").img-responsive
								img(src="assets/images/product-image-2.jpg").img-responsive
								img(src="assets/images/product-image-3.jpg").img-responsive
								img(src="assets/images/product-image-4.jpg").img-responsive
							.product__color
								span.product__color_count 8 цветов
								.product__color_block
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="1">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#FFDBE4"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#FFDBE4"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="2">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#2DCCD3"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#2DCCD3"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="3">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#fff"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#C4C4C4"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="4">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#FFDBE4"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#FFDBE4"/>
									</svg>
							h3.product__header Серия CLIC
							.product__description Детский стол для четырех ростовых категорий
							.product__price 
								span.product__price-current 3 500 Р.
								span.product__price-sale 5 500 Р.
					.swiper-slide.col-auto.col-sm-6.d-sm-none.d-md-block.col-md-4.col-lg-3
						a(href='#').product
							.product__lable
								//- .lable--sale
								//- .lable--saleText(data-saleText='30')
								.lable--saleBig
								//- .lable--hot
								//- .lable--new
								//- .lable--newBig
							.product__image
								img(src="assets/images/product-image.jpg").img-responsive
								img(src="assets/images/product-image-2.jpg").img-responsive
								img(src="assets/images/product-image-3.jpg").img-responsive
								img(src="assets/images/product-image-4.jpg").img-responsive
							.product__color
								span.product__color_count 8 цветов
								.product__color_block
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="1">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#FFDBE4"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#FFDBE4"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="2">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#2DCCD3"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#2DCCD3"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="3">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#fff"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#C4C4C4"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="4">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#FFDBE4"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#FFDBE4"/>
									</svg>
							h3.product__header Серия CLIC
							.product__description Детский стол для четырех ростовых категорий
							.product__price 
								span.product__price-current 3 500 Р.
								span.product__price-sale 5 500 Р.
					.swiper-slide.col-auto.col-sm-6.col-md-4.d-sm-none.d-lg-block.col-lg-3
						a(href='#').product
							.product__lable
								//- .lable--sale
								//- .lable--saleText(data-saleText='30')
								//- .lable--saleBig
								.lable--hot
								//- .lable--new
								//- .lable--newBig
							.product__image
								img(src="assets/images/product-image.jpg").img-responsive
								img(src="assets/images/product-image-2.jpg").img-responsive
								img(src="assets/images/product-image-3.jpg").img-responsive
								img(src="assets/images/product-image-4.jpg").img-responsive
							.product__color
								span.product__color_count 8 цветов
								.product__color_block
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="1">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#FFDBE4"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#FFDBE4"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="2">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#2DCCD3"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#2DCCD3"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="3">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#fff"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#C4C4C4"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="4">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#FFDBE4"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#FFDBE4"/>
									</svg>
							h3.product__header Серия CLIC
							.product__description Детский стол для четырех ростовых категорий
							.product__price 
								span.product__price-current 3 500 Р.
								span.product__price-sale 5 500 Р.
	section.products
		.container
			.row
				.col-12
					.products__title
						h2.products__title-header Серия MOVE
						a(href='#').products__title-more Смотреть все
			.swiper-container.slider__products
				.swiper-wrapper.row
					.swiper-slide.col-auto.col-sm-6.col-md-4.col-lg-3
						a(href='#').product
							.product__lable
								//- .lable--sale
								//- .lable--saleText(data-saleText='30')
								//- .lable--saleBig
								//- .lable--hot
								.lable--new
								//- .lable--newBig
							.product__image
								img(src="assets/images/product-image.jpg").img-responsive
								img(src="assets/images/product-image-2.jpg").img-responsive
								img(src="assets/images/product-image-3.jpg").img-responsive
								img(src="assets/images/product-image-4.jpg").img-responsive
							.product__color
								span.product__color_count 8 цветов
								.product__color_block
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="1">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#FFDBE4"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#FFDBE4"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="2">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#2DCCD3"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#2DCCD3"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="3">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#fff"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#C4C4C4"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="4">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#FFDBE4"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#FFDBE4"/>
									</svg>
							h3.product__header Серия CLIC
							.product__description Детский стол для четырех ростовых категорий
							.product__price
								span.product__price-current 3 500 Р.
					.swiper-slide.col-auto.col-sm-6.col-md-4.col-lg-3
						a(href='#').product
							.product__lable
								//- .lable--sale
								//- .lable--saleText(data-saleText='30')
								//- .lable--saleBig
								//- .lable--hot
								.lable--new
								//- .lable--newBig
							.product__image
								img(src="assets/images/product-image.jpg").img-responsive
								img(src="assets/images/product-image-2.jpg").img-responsive
								img(src="assets/images/product-image-3.jpg").img-responsive
								img(src="assets/images/product-image-4.jpg").img-responsive
							.product__color
								span.product__color_count 8 цветов
								.product__color_block
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="1">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#FFDBE4"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#FFDBE4"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="2">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#2DCCD3"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#2DCCD3"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="3">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#fff"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#C4C4C4"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="4">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#FFDBE4"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#FFDBE4"/>
									</svg>
							h3.product__header Серия CLIC
							.product__description Детский стол для четырех ростовых категорий
							.product__price
								span.product__price-current 3 500 Р.
					.swiper-slide.col-auto.col-sm-6.d-sm-none.d-md-block.col-md-4.col-lg-3
						a(href='#').product
							.product__lable
								//- .lable--sale
								//- .lable--saleText(data-saleText='30')
								//- .lable--saleBig
								//- .lable--hot
								//- .lable--new
								.lable--newBig
							.product__image
								img(src="assets/images/product-image.jpg").img-responsive
								img(src="assets/images/product-image-2.jpg").img-responsive
								img(src="assets/images/product-image-3.jpg").img-responsive
								img(src="assets/images/product-image-4.jpg").img-responsive
							.product__color
								span.product__color_count 8 цветов
								.product__color_block
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="1">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#FFDBE4"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#FFDBE4"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="2">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#2DCCD3"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#2DCCD3"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="3">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#fff"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#C4C4C4"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="4">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#FFDBE4"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#FFDBE4"/>
									</svg>
							h3.product__header Серия CLIC
							.product__description Детский стол для четырех ростовых категорий
							.product__price
								span.product__price-current 3 500 Р.
					.swiper-slide.col-auto.col-sm-6.col-md-4.d-sm-none.d-lg-block.col-lg-3
						a(href='#').product
							.product__image
								img(src="assets/images/product-image.jpg").img-responsive
								img(src="assets/images/product-image-2.jpg").img-responsive
								img(src="assets/images/product-image-3.jpg").img-responsive
								img(src="assets/images/product-image-4.jpg").img-responsive
							.product__color
								span.product__color_count 8 цветов
								.product__color_block
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="1">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#FFDBE4"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#FFDBE4"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="2">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#2DCCD3"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#2DCCD3"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="3">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#fff"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#C4C4C4"/>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="product__color_image" data-image="4">
										<path d="M17.3463 9.09636L17.8516 8.2334C18.7176 6.75434 18.2081 4.85165 16.6932 3.98922C15.1783 3.12679 13.2526 3.64293 12.3866 5.12198L12.3668 5.15623L12.3607 5.16707L6.1622 15.7533L6.14855 15.7763C5.28254 17.2553 5.79209 19.1579 7.30699 20.0203C8.82189 20.8827 10.7476 20.3666 11.6136 18.8875L12.1255 18.0134L17.3463 9.09636Z" fill="#FFDBE4"/><path d="M17.3463 9.09663L17.8516 8.23368C18.7176 6.75462 18.2081 4.85193 16.6932 3.9895C15.1783 3.12707 13.2526 3.64321 12.3866 5.12226L12.3668 5.15651L12.3607 5.16735L6.16219 15.7535L6.14854 15.7765C5.28254 17.2556 5.79208 19.1581 7.30698 20.0206C8.82188 20.883 10.7476 20.3669 11.6136 18.8878L12.1255 18.0136L17.3463 9.09663ZM12.4828 19.3826C12.4806 19.3864 12.4783 19.39 12.476 19.3938C12.4622 19.4172 12.4482 19.4405 12.434 19.4636C12.4317 19.4673 12.4294 19.471 12.4271 19.4747C11.2539 21.3647 8.75933 21.998 6.80171 20.8835C4.81262 19.7511 4.1311 17.2432 5.27951 15.2818L5.29741 15.2515L11.4916 4.67257C11.5001 4.65752 11.5088 4.6425 11.5176 4.62752C12.666 2.66616 15.2094 1.99415 17.1985 3.12654C19.1876 4.25893 19.8691 6.7669 18.7207 8.72826L12.4828 19.3826Z" fill="#FFDBE4"/>
									</svg>
							h3.product__header Двухъярусная кровать MOVE E #1
							.product__description Книжный шкаф по которому можно лазить с гнездом и фасадным расположением книг
							.product__price
								span.product__price-current 3 500 Р.